# B - Regression with Keras

## Importing required libraries

In [3]:
import pandas as pd
import numpy as np

from tensorflow.keras import Input
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Download and Clean Dataset

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

1. Cement
2. Blast Furnace Slag
3. Fly Ash
4. Water
5. Superplasticizer
6. Coarse Aggregate
7. Fine Aggregate

In [6]:
# downloading and reading the data using pandas dataframe
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [7]:
concrete_data.shape

(1030, 9)

In [8]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target

In [11]:
concrete_data_columns = concrete_data.columns

# removing column 'Strength' and creating the predictors dataset
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 

# creating target dataset with only 'Strength' column
target = concrete_data['Strength']

In [12]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Preparing data for regression

In [15]:
# Normalizing data 
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [16]:
n_cols = predictors_norm.shape[1]
n_cols

8

In [17]:
# Train an test split 
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Building a Neural Network

In [28]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
    return model

## Train and Test the Network

In [31]:
# build the model
model = regression_model()

In [33]:
# fit the model
reg_model = model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 1s - 39ms/step - loss: 1506.1667 - mean_squared_error: 1506.1667
Epoch 2/50
23/23 - 0s - 2ms/step - loss: 1488.3333 - mean_squared_error: 1488.3333
Epoch 3/50
23/23 - 0s - 2ms/step - loss: 1470.0215 - mean_squared_error: 1470.0215
Epoch 4/50
23/23 - 0s - 2ms/step - loss: 1450.7722 - mean_squared_error: 1450.7722
Epoch 5/50
23/23 - 0s - 2ms/step - loss: 1430.3549 - mean_squared_error: 1430.3549
Epoch 6/50
23/23 - 0s - 2ms/step - loss: 1408.8353 - mean_squared_error: 1408.8353
Epoch 7/50
23/23 - 0s - 2ms/step - loss: 1385.6208 - mean_squared_error: 1385.6208
Epoch 8/50
23/23 - 0s - 2ms/step - loss: 1361.0259 - mean_squared_error: 1361.0259
Epoch 9/50
23/23 - 0s - 2ms/step - loss: 1334.2083 - mean_squared_error: 1334.2083
Epoch 10/50
23/23 - 0s - 2ms/step - loss: 1306.2102 - mean_squared_error: 1306.2102
Epoch 11/50
23/23 - 0s - 2ms/step - loss: 1275.8639 - mean_squared_error: 1275.8639
Epoch 12/50
23/23 - 0s - 2ms/step - loss: 1244.5055 - mean_squared_error: 1244.5055
Epoch 13/50
23/23 - 0s - 2ms/step - loss: 1211.2913 - mean_squared_error: 1211.2913
Epoch 14/50
23/23 - 0s - 2ms/step - loss: 1177.6403 - mean_squared_error: 1177.6403
Epoch 15/50
23/23 - 0s - 2ms/step - loss: 1142.1006 - mean_squared_error: 1142.1006
Epoch 16/50
23/23 - 0s - 2ms/step - loss: 1106.1562 - mean_squared_error: 1106.1562
Epoch 17/50
23/23 - 0s - 2ms/step - loss: 1069.7411 - mean_squared_error: 1069.7411
Epoch 18/50
23/23 - 0s - 2ms/step - loss: 1032.6278 - mean_squared_error: 1032.6278
Epoch 19/50
23/23 - 0s - 2ms/step - loss: 995.3886 - mean_squared_error: 995.3886
Epoch 20/50
23/23 - 0s - 2ms/step - loss: 958.3356 - mean_squared_error: 958.3356
Epoch 21/50
23/23 - 0s - 2ms/step - loss: 921.0316 - mean_squared_error: 921.0316
Epoch 22/50
23/23 - 0s - 2ms/step - loss: 884.4899 - mean_squared_error: 884.4899
Epoch 23/50
23/23 - 0s - 2ms/step - loss: 848.1151 - mean_squared_error: 848.1151
Epoch 24/50
23/23 - 0s - 2ms/step - loss: 812.8011 - mean_squared_error: 812.8011
Epoch 25/50
23/23 - 0s - 2ms/step - loss: 777.6824 - mean_squared_error: 777.6824
Epoch 26/50
23/23 - 0s - 2ms/step - loss: 743.8239 - mean_squared_error: 743.8239
Epoch 27/50
23/23 - 0s - 2ms/step - loss: 710.4981 - mean_squared_error: 710.4981
Epoch 28/50
23/23 - 0s - 2ms/step - loss: 678.6837 - mean_squared_error: 678.6837
Epoch 29/50
23/23 - 0s - 2ms/step - loss: 647.5576 - mean_squared_error: 647.5576
Epoch 30/50
23/23 - 0s - 2ms/step - loss: 617.9830 - mean_squared_error: 617.9830
Epoch 31/50
23/23 - 0s - 2ms/step - loss: 588.9639 - mean_squared_error: 588.9639
Epoch 32/50
23/23 - 0s - 2ms/step - loss: 561.6483 - mean_squared_error: 561.6483
Epoch 33/50
23/23 - 0s - 2ms/step - loss: 535.5436 - mean_squared_error: 535.5436
Epoch 34/50
23/23 - 0s - 2ms/step - loss: 510.7461 - mean_squared_error: 510.7461
Epoch 35/50
23/23 - 0s - 2ms/step - loss: 486.6210 - mean_squared_error: 486.6210
Epoch 36/50
23/23 - 0s - 2ms/step - loss: 463.6086 - mean_squared_error: 463.6086
Epoch 37/50
23/23 - 0s - 2ms/step - loss: 441.6974 - mean_squared_error: 441.6974
Epoch 38/50
23/23 - 0s - 2ms/step - loss: 420.6209 - mean_squared_error: 420.6209
Epoch 39/50
23/23 - 0s - 2ms/step - loss: 401.0423 - mean_squared_error: 401.0423
Epoch 40/50
23/23 - 0s - 2ms/step - loss: 383.0491 - mean_squared_error: 383.0491
Epoch 41/50
23/23 - 0s - 2ms/step - loss: 365.5778 - mean_squared_error: 365.5778
Epoch 42/50
23/23 - 0s - 2ms/step - loss: 349.6269 - mean_squared_error: 349.6269
Epoch 43/50
23/23 - 0s - 2ms/step - loss: 334.8092 - mean_squared_error: 334.8092
Epoch 44/50
23/23 - 0s - 2ms/step - loss: 321.2206 - mean_squared_error: 321.2206
Epoch 45/50
23/23 - 0s - 2ms/step - loss: 308.4801 - mean_squared_error: 308.4801
Epoch 46/50
23/23 - 0s - 2ms/step - loss: 297.1256 - mean_squared_error: 297.1256
Epoch 47/50
23/23 - 0s - 2ms/step - loss: 286.4107 - mean_squared_error: 286.4107
Epoch 48/50
23/23 - 0s - 2ms/step - loss: 276.7273 - mean_squared_error: 276.7273
Epoch 49/50
23/23 - 0s - 2ms/step - loss: 267.8764 - mean_squared_error: 267.8764
Epoch 50/50
23/23 - 0s - 2ms/step - loss: 259.8701 - mean_squared_error: 259.8701

In [37]:
mse_per_epoch = reg_model.history['mean_squared_error']

In [39]:
print(f"The mean of the MSE is: {np.mean(mse_per_epoch)}")

The mean of the MSE is: 817.1826422119141

In [41]:
print(f"The standard deviation of the MSE is: {np.std(mse_per_epoch)}")

The standard deviation of the MSE is: 413.6907759912864

## The mean of the mean squared errors has decreased compared to the previous task (A)