# C - Regression with Keras

## Importing required libraries

In [3]:
import pandas as pd
import numpy as np

from tensorflow.keras import Input
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Download and Clean Dataset

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

1. Cement
2. Blast Furnace Slag
3. Fly Ash
4. Water
5. Superplasticizer
6. Coarse Aggregate
7. Fine Aggregate

In [6]:
# downloading and reading the data using pandas dataframe
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [7]:
concrete_data.shape

(1030, 9)

In [8]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target

In [11]:
concrete_data_columns = concrete_data.columns

# removing column 'Strength' and creating the predictors dataset
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 

# creating target dataset with only 'Strength' column
target = concrete_data['Strength']

In [12]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Preparing data for regression

In [15]:
# Normalizing data 
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [16]:
n_cols = predictors_norm.shape[1]
n_cols

8

In [17]:
# Train an test split 
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Building a Neural Network

In [19]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
    return model

## Train and Test the Network

In [21]:
# build the model
model = regression_model()

In [22]:
# fit the model
reg_model = model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 41ms/step - loss: 1610.7065 - mean_squared_error: 1610.7065
Epoch 2/100
23/23 - 0s - 2ms/step - loss: 1594.8882 - mean_squared_error: 1594.8882
Epoch 3/100
23/23 - 0s - 2ms/step - loss: 1579.4719 - mean_squared_error: 1579.4719
Epoch 4/100
23/23 - 0s - 2ms/step - loss: 1564.1969 - mean_squared_error: 1564.1969
Epoch 5/100
23/23 - 0s - 2ms/step - loss: 1548.3708 - mean_squared_error: 1548.3708
Epoch 6/100
23/23 - 0s - 2ms/step - loss: 1532.2653 - mean_squared_error: 1532.2653
Epoch 7/100
23/23 - 0s - 2ms/step - loss: 1515.5480 - mean_squared_error: 1515.5480
Epoch 8/100
23/23 - 0s - 2ms/step - loss: 1498.3273 - mean_squared_error: 1498.3273
Epoch 9/100
23/23 - 0s - 2ms/step - loss: 1479.8234 - mean_squared_error: 1479.8234
Epoch 10/100
23/23 - 0s - 2ms/step - loss: 1460.7878 - mean_squared_error: 1460.7878
Epoch 11/100
23/23 - 0s - 2ms/step - loss: 1440.7494 - mean_squared_error: 1440.7494
Epoch 12/100
23/23 - 0s - 2ms/step - loss: 1419.5098 - mean_squared_error: 1419.5098
Epoch 13/100
23/23 - 0s - 2ms/step - loss: 1397.5614 - mean_squared_error: 1397.5614
Epoch 14/100
23/23 - 0s - 2ms/step - loss: 1374.2179 - mean_squared_error: 1374.2179
Epoch 15/100
23/23 - 0s - 2ms/step - loss: 1349.8663 - mean_squared_error: 1349.8663
Epoch 16/100
23/23 - 0s - 2ms/step - loss: 1324.6305 - mean_squared_error: 1324.6305
Epoch 17/100
23/23 - 0s - 2ms/step - loss: 1297.8092 - mean_squared_error: 1297.8092
Epoch 18/100
23/23 - 0s - 2ms/step - loss: 1270.3737 - mean_squared_error: 1270.3737
Epoch 19/100
23/23 - 0s - 2ms/step - loss: 1241.8683 - mean_squared_error: 1241.8683
Epoch 20/100
23/23 - 0s - 2ms/step - loss: 1212.2537 - mean_squared_error: 1212.2537
Epoch 21/100
23/23 - 0s - 2ms/step - loss: 1181.4774 - mean_squared_error: 1181.4774
Epoch 22/100
23/23 - 0s - 2ms/step - loss: 1150.2966 - mean_squared_error: 1150.2966
Epoch 23/100
23/23 - 0s - 2ms/step - loss: 1117.2515 - mean_squared_error: 1117.2515
Epoch 24/100
23/23 - 0s - 2ms/step - loss: 1084.2579 - mean_squared_error: 1084.2579
Epoch 25/100
23/23 - 0s - 2ms/step - loss: 1049.9269 - mean_squared_error: 1049.9269
Epoch 26/100
23/23 - 0s - 2ms/step - loss: 1015.2182 - mean_squared_error: 1015.2182
Epoch 27/100
23/23 - 0s - 2ms/step - loss: 980.0821 - mean_squared_error: 980.0821
Epoch 28/100
23/23 - 0s - 2ms/step - loss: 945.0685 - mean_squared_error: 945.0685
Epoch 29/100
23/23 - 0s - 2ms/step - loss: 909.6904 - mean_squared_error: 909.6904
Epoch 30/100
23/23 - 0s - 2ms/step - loss: 874.6469 - mean_squared_error: 874.6469
Epoch 31/100
23/23 - 0s - 2ms/step - loss: 840.6044 - mean_squared_error: 840.6044
Epoch 32/100
23/23 - 0s - 2ms/step - loss: 806.0969 - mean_squared_error: 806.0969
Epoch 33/100
23/23 - 0s - 2ms/step - loss: 772.7788 - mean_squared_error: 772.7788
Epoch 34/100
23/23 - 0s - 2ms/step - loss: 739.6227 - mean_squared_error: 739.6227
Epoch 35/100
23/23 - 0s - 2ms/step - loss: 707.7163 - mean_squared_error: 707.7163
Epoch 36/100
23/23 - 0s - 2ms/step - loss: 676.4069 - mean_squared_error: 676.4069
Epoch 37/100
23/23 - 0s - 2ms/step - loss: 646.5007 - mean_squared_error: 646.5007
Epoch 38/100
23/23 - 0s - 2ms/step - loss: 617.0789 - mean_squared_error: 617.0789
Epoch 39/100
23/23 - 0s - 2ms/step - loss: 589.3127 - mean_squared_error: 589.3127
Epoch 40/100
23/23 - 0s - 2ms/step - loss: 562.8336 - mean_squared_error: 562.8336
Epoch 41/100
23/23 - 0s - 2ms/step - loss: 537.2179 - mean_squared_error: 537.2179
Epoch 42/100
23/23 - 0s - 2ms/step - loss: 512.8924 - mean_squared_error: 512.8924
Epoch 43/100
23/23 - 0s - 2ms/step - loss: 489.3022 - mean_squared_error: 489.3022
Epoch 44/100
23/23 - 0s - 2ms/step - loss: 467.6097 - mean_squared_error: 467.6097
Epoch 45/100
23/23 - 0s - 2ms/step - loss: 446.9328 - mean_squared_error: 446.9328
Epoch 46/100
23/23 - 0s - 2ms/step - loss: 427.4339 - mean_squared_error: 427.4339
Epoch 47/100
23/23 - 0s - 2ms/step - loss: 409.0955 - mean_squared_error: 409.0955
Epoch 48/100
23/23 - 0s - 2ms/step - loss: 391.9524 - mean_squared_error: 391.9524
Epoch 49/100
23/23 - 0s - 2ms/step - loss: 375.9151 - mean_squared_error: 375.9151
Epoch 50/100
23/23 - 0s - 2ms/step - loss: 360.9520 - mean_squared_error: 360.9520
Epoch 51/100
23/23 - 0s - 2ms/step - loss: 346.9449 - mean_squared_error: 346.9449
Epoch 52/100
23/23 - 0s - 2ms/step - loss: 333.9961 - mean_squared_error: 333.9961
Epoch 53/100
23/23 - 0s - 2ms/step - loss: 321.8887 - mean_squared_error: 321.8887
Epoch 54/100
23/23 - 0s - 2ms/step - loss: 310.7991 - mean_squared_error: 310.7991
Epoch 55/100
23/23 - 0s - 2ms/step - loss: 300.3727 - mean_squared_error: 300.3727
Epoch 56/100
23/23 - 0s - 2ms/step - loss: 290.8997 - mean_squared_error: 290.8997
Epoch 57/100
23/23 - 0s - 2ms/step - loss: 281.9591 - mean_squared_error: 281.9591
Epoch 58/100
23/23 - 0s - 2ms/step - loss: 273.9029 - mean_squared_error: 273.9029
Epoch 59/100
23/23 - 0s - 2ms/step - loss: 266.4037 - mean_squared_error: 266.4037
Epoch 60/100
23/23 - 0s - 3ms/step - loss: 259.4593 - mean_squared_error: 259.4593
Epoch 61/100
23/23 - 0s - 2ms/step - loss: 253.1136 - mean_squared_error: 253.1136
Epoch 62/100
23/23 - 0s - 2ms/step - loss: 247.1741 - mean_squared_error: 247.1741
Epoch 63/100
23/23 - 0s - 2ms/step - loss: 241.8325 - mean_squared_error: 241.8325
Epoch 64/100
23/23 - 0s - 2ms/step - loss: 236.8216 - mean_squared_error: 236.8216
Epoch 65/100
23/23 - 0s - 2ms/step - loss: 232.0673 - mean_squared_error: 232.0673
Epoch 66/100
23/23 - 0s - 2ms/step - loss: 227.7350 - mean_squared_error: 227.7350
Epoch 67/100
23/23 - 0s - 2ms/step - loss: 223.7990 - mean_squared_error: 223.7990
Epoch 68/100
23/23 - 0s - 2ms/step - loss: 219.9564 - mean_squared_error: 219.9564
Epoch 69/100
23/23 - 0s - 2ms/step - loss: 216.5034 - mean_squared_error: 216.5034
Epoch 70/100
23/23 - 0s - 2ms/step - loss: 213.3091 - mean_squared_error: 213.3091
Epoch 71/100
23/23 - 0s - 2ms/step - loss: 210.2802 - mean_squared_error: 210.2802
Epoch 72/100
23/23 - 0s - 2ms/step - loss: 207.5010 - mean_squared_error: 207.5010
Epoch 73/100
23/23 - 0s - 2ms/step - loss: 204.8564 - mean_squared_error: 204.8564
Epoch 74/100
23/23 - 0s - 2ms/step - loss: 202.3789 - mean_squared_error: 202.3789
Epoch 75/100
23/23 - 0s - 2ms/step - loss: 200.0178 - mean_squared_error: 200.0178
Epoch 76/100
23/23 - 0s - 2ms/step - loss: 197.8807 - mean_squared_error: 197.8807
Epoch 77/100
23/23 - 0s - 2ms/step - loss: 195.7811 - mean_squared_error: 195.7811
Epoch 78/100
23/23 - 0s - 2ms/step - loss: 193.8579 - mean_squared_error: 193.8579
Epoch 79/100
23/23 - 0s - 2ms/step - loss: 191.9315 - mean_squared_error: 191.9315
Epoch 80/100
23/23 - 0s - 2ms/step - loss: 190.2178 - mean_squared_error: 190.2178
Epoch 81/100
23/23 - 0s - 2ms/step - loss: 188.4680 - mean_squared_error: 188.4680
Epoch 82/100
23/23 - 0s - 2ms/step - loss: 186.8705 - mean_squared_error: 186.8705
Epoch 83/100
23/23 - 0s - 2ms/step - loss: 185.3176 - mean_squared_error: 185.3176
Epoch 84/100
23/23 - 0s - 2ms/step - loss: 183.7802 - mean_squared_error: 183.7802
Epoch 85/100
23/23 - 0s - 2ms/step - loss: 182.3284 - mean_squared_error: 182.3284
Epoch 86/100
23/23 - 0s - 2ms/step - loss: 180.8897 - mean_squared_error: 180.8897
Epoch 87/100
23/23 - 0s - 2ms/step - loss: 179.5899 - mean_squared_error: 179.5899
Epoch 88/100
23/23 - 0s - 2ms/step - loss: 178.2339 - mean_squared_error: 178.2339
Epoch 89/100
23/23 - 0s - 2ms/step - loss: 176.9893 - mean_squared_error: 176.9893
Epoch 90/100
23/23 - 0s - 2ms/step - loss: 175.8103 - mean_squared_error: 175.8103
Epoch 91/100
23/23 - 0s - 2ms/step - loss: 174.5387 - mean_squared_error: 174.5387
Epoch 92/100
23/23 - 0s - 2ms/step - loss: 173.4165 - mean_squared_error: 173.4165
Epoch 93/100
23/23 - 0s - 2ms/step - loss: 172.3463 - mean_squared_error: 172.3463
Epoch 94/100
23/23 - 0s - 2ms/step - loss: 171.2800 - mean_squared_error: 171.2800
Epoch 95/100
23/23 - 0s - 2ms/step - loss: 170.1773 - mean_squared_error: 170.1773
Epoch 96/100
23/23 - 0s - 2ms/step - loss: 169.2057 - mean_squared_error: 169.2057
Epoch 97/100
23/23 - 0s - 2ms/step - loss: 168.1805 - mean_squared_error: 168.1805
Epoch 98/100
23/23 - 0s - 2ms/step - loss: 167.1821 - mean_squared_error: 167.1821
Epoch 99/100
23/23 - 0s - 2ms/step - loss: 166.2097 - mean_squared_error: 166.2097
Epoch 100/100
23/23 - 0s - 2ms/step - loss: 165.2125 - mean_squared_error: 165.2125

In [23]:
mse_per_epoch = reg_model.history['mean_squared_error']

In [24]:
print(f"The mean of the MSE is: {np.mean(mse_per_epoch)}")

The mean of the MSE is: 612.0906660461426

In [25]:
print(f"The standard deviation of the MSE is: {np.std(mse_per_epoch)}")

The standard deviation of the MSE is: 491.1861933712135

## The mean of the mean squared errors has decreased compared to the previous task (B)